.fade.in.modal {
  margin-top: 60px;
  z-index: 1;
}

.fade.in.modal button {
  background-color: #2196F3;
}
.fade.in.modal .modal-footer .btn-primary {
  margin-right: 20px;
}

.profileAvatar .AvatarCropper-canvas canvas {
    border-radius: 1000px;
}
